/* Импорт базовых стилей Tailwind v4 */
@import "tailwindcss";

/* Наша строгая дизайн-система */
@theme {
  --color-primary: #FF5722;
  --color-bgLight: #FAFAFA;
  --color-bgDark: #0A0A0A;
  --color-surfaceLight: #FFFFFF;
  --color-surfaceDark: #171717;
  --color-textPrimary: #111827;
  --color-textSecondary: #4B5563;
  --color-success: #10B981;
}

/* Базовые настройки для всего сайта */
@layer base {
  body {
    background-color: var(--color-bgDark);
    color: white;
  }
}

/* Кастомный класс для скрытия скроллбара, но сохранения возможности скролла */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}